body{
    background-color: black;
    color: white;
    overflow-x: hidden;
    font-family: poppins;
}
html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}
li{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
.active{
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #f5a425;
}

.navbar-light .navbar-nav .nav-link.active{
    color: #f5a425;
}

.nav-item {
    padding: 0em .7em;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
}

.navbar-light .navbar-nav .nav-link.active{
    color: #f5a425;
}

#home video {
    width:100%;
    height: 110vh;
    position:absolute;
    top:0;
    left:0;
    z-index:5;
    object-fit:cover;
    font-family:'object-fit: cover';
}

#home::after{
    width: 100%;
    height: 110vh;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    z-index: 10;
}


#home .caption {
    position:relative;
    z-index:20;
    text-align:left;
    color:#ffffff;
}

.btn{
    z-index: 50;
}
#cards-part{
    width: 100%;
}

#cards-part .card{
    background: url("../files/images/service-item-bg.jpg");
    border-radius: 1.5em;
}

.hide{
    display: none;
}

.text-center .row .card{
    margin: 0em 1em;
}


.card-body h4{
    font-size: 18px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.card-body img{
    padding-top: 2em;
}

.prev-next{
    padding-top: 7em;
}

#cards-part{
    position: relative;
    z-index: 100;
    background: url(../files/images/meetings-bg.jpg);   
    background-attachment: fixed;
    padding-top: 5em;
}
#meetings{
    margin: 0px;
    background: url(../files/images/meetings-bg.jpg);
    background-attachment: fixed;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    object-fit:cover;
    font-family:'object-fit: cover';
}

.card .left-card{
    border-radius: 10em;
}

#meetings .card{
    padding:0em;
    border: none;
    border-radius: 1.5em;

}

#meetings .card .card-img-top{
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
    object-fit: cover;
}

#meetings .col{
    padding-right: 1.3em;
}

#meetings .col p{
    padding-left: 2em;
    font-size: 12px;
}

#meetings .row{
    padding-bottom: 2em;
}

#meetings li{
    padding-bottom: 1em;
}

#apply{
    margin-left: auto;
    margin-right: auto;
}

.apply-list h4{
    text-transform: uppercase;
    font-weight: bold;
}

.apply-list p{
    font-size: 15px;
    padding-left: 1em;
}

.apply-list a{
    float: right;
    margin-top: -30px;
}

.apply-list li{
    padding-bottom: 1em;
}
.apply-list .hide-element p{
    display: none;
}

.semi-cards{
    display: block;
    padding: 2em 3em;
    margin: 1em 0em;
    background-color: rgba(white, .1);
    border-radius: 2em;
}
.semi-cards:hover{
    background-color: white;
    .title{
        color: black;
    }
    transition: 1s;
}

.semi-cards .number, .title{
    font-weight: bold;
    font-size: 35px;
}

.title{
    font-size: 18px;
}

.semi-cards .number{
    color:#f5a425;
}

.left{
    float: left;
}
.right{
    float: right;
}

.col svg:hover{
    width: 15%;
    height: 15%;
    transition: 1s;
}

#contact .row{
    padding-top: 3em;
    justify-content: center;
}

input, textarea{
    border: none;
    justify-content: center;
}

input::placeholder, template::placeholder{
    text-transform: uppercase;
}

#contact hr{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 700px) {
    body{
        padding-right: -2em;
    }
    .prev-next img{
        display: none;
    }

    #cards-part{
        margin-top: -1em;
    }
    #cards-part .row{
        display: flex;
        flex-direction: column;
        margin: -2em auto;
    }

    #cards-part .card{
        margin: 2em auto;
    }

    #meetings .container .col .card{
        margin: 1em auto;
    }

    #apply .col-md-5 .card{
        margin-left: auto;
        margin-right: auto;
    }

    #apply .row{
        padding-left: 0em;
    }
    #facts{
        display: none;
    }

    .contact-methods{
        margin-top: 1em;
    }

    .contact-methods ul{
        text-align: center;
        padding: 0;
    }    
}